body {
  font-family: calibri;
  margin: 0;
  padding: 0;
}

#nav {
  margin: auto;
  padding: 0;
  transition: width, 1.0s;
  transition-timing-function: ease-in-out;
  overflow: visible;
  position: fixed;
  width: 100%;
  top: 0;
}

#nav a:hover {
  background-color: #ddd;
  color: black;
}

#nav a.active {
  /*background-color: #B83214;*/
  background-color: #333;
  color: white;
}

.nav-tabs {
  background-color: #347B98;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 12px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-tabs li {
  float: left;
}

.nav-tabs li a {
  text-align: center;
  padding-right: 14px;
  text-decoration: none;
  transition: 0.3s;
  padding: 16px 14px;
  font-size: 20px;
  color: white;
}

#headerImage {
  width: 100%;
  height: 200px;
  border: 2px solid grey;
}

#image {
  width: 40%;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
}

# MainContent p {
  text-align: justify;
}

#MainContent {
  margin: auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#inputP {
  display: inline-block;
  font-size: 20px;
}

#emailInput {
  display: inline-block;
  height: 36px;
  width: 300px;
  margin-left: 20px;
  border-radius: 4px;
}

#emailArea {
  text-align: center;
}

#PageFooter {
  background-color: #333;
  text-align: center;
  padding: 6px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
