<!DOCTYPE html>
<html lang = "en">

<head>
  <% include ../partials/head %>
  <script src = "scripts/homeScript.js"></script>
</head>

<body>

  <!-- Gets the header file -->
  <% include ../partials/header.ejs %>

  <!-- Login section which stays hidden till in use -->
  <% include ../partials/login.ejs %>

  <!-- Signup section which stays hidden till in use -->
  <% include ../partials/signup.ejs %>

  <!-- The Main Content section -->
  <section id = "MainContent">

    <div id = "userInfo">
      <a href = "#">Signed in as: <p id = "username"><b><%= user.username %></b></p>
      <p id = "arrow"><</p></a>
    </div>

    <div id = "descriptionText">

      <div id = "collapseDescription">
        <input id = "toggle" class = "test collapseInfo" type = "checkbox">
        <label id = "descriptionTitle" class = "collapseLabel" for = "toggle">What Our App Does!</label>

        <div class = "expand">
          <p>Think Tinder but for finding restaurants! Simply input the town/city in which
              you wish to find a restaurant and the radial distance you want to search within.
              Then we will find a selection of restaurants in that area for you to look
              through! Create an account with us and you can save the restaurant to find
              later in the "My Restaurants" section!
          </p>
        </div>
      </div>

      <div id = "fullDescription">
        <h2 class = "paraTitle">What our app does!</h2>

        <p>Think Tinder but for finding restaurants! Simply input the town/city in which
            you wish to find a restaurant and the radial distance you want to search within.
            Then we will find a selection of restaurants in that area for you to look
            through! Create an account with us and you can save the restaurant to find
            later in the "My Restaurants" section!
        </p>
      </div>

      <h3 class = "paraTitle">Enter the location you wish to seach in!</h3>

    </div>

    <form id = "searchForm">
      <!--<input type = "text" id = "location" class = "searchBox" placeholder = "Location(e.g. 'Edinburgh, Scotland')" name = "location">-->
      <input type = "text" id = "location" class = "searchBox" size = "50" placeholder = "Location(e.g. 'Edinburgh, Scotland')" name = "location">
      <input type = "text" id = "distance" class = "searchBox" placeholder = "Distance(Miles)" name = "distance">
      <button type = "submit" id = "search">Go!</button>
    </form>

    <div id = "cardLoader"></div>

    <div id = "activeCard" class = "card" style = "text-align: center">
      <h2 class = "paraTitle">Welcome to Blendr!</h2>
      <img src = "images/logo.png" id = "placeImage" alt = "Site Logo Image"/>
      <h2 class = "paraTitle">Getting Started!</h2>
      <p>While not signed in you are free to browse restaurants! But to save
        the restaurants you like the look of make sure to sign in! Not signed up
        yet? It's free and only takes 30 seconds! You can do so <a href = "#" onclick = "displaySignup()">here.</a>
      </p>
    </div>
  </section>

  <!-- The Page Footer area -->
  <footer id = "PageFooter">
    <% include ../partials/footer %>
  </footer>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBPO_ZRe5JJellJY06o4c2yrGL55loC0w&libraries=places&callback=initialize" async defer></script>
</body>
</html>
