<!DOCTYPE html>
<html lang = "en">

<head>
  <% include ../partials/head %>
  <script src = "scripts/homeScript.js"></script>
</head>

<body>

  <% include ../partials/header.ejs %>

  <!-- Login section which stays hidden till in use -->
  <div id = "loginForm" class = "modal">

    <form class = "modal-content animate" action = "#"> <!-- Server response after action -->
      <div class = "loginImgContainer">
        <span onclick = "loginDisplayNone()" class = "close" title = "Close Modal">&times;</span>
        <img id = "loginAvatar" src = "images/img_avatar2.png" alt = "Avatar">
      </div>

      <div class = "loginContainer">
        <label for = "uname"><b>Username</b></label>
        <input class = "loginInput" type = "text" placeholder = "Enter Username" name = "uname" required>

        <label for = "psw"><b>Password</b></label>
        <input class = "loginInput" type = "password" placeholder = "Enter Password" name = "psw" required>

        <button class = "loginButton" type = "submit">Login</button>
        <label>
          <input type = "checkbox" checked = "checked" name = "remember"> Remember me
        </label>
      </div>

      <div class = "loginContainer" style = "background-color:#f1f1f1">
        <button type = "button" onclick = "loginDisplayNone()" class = "cancelBtn loginButton">Cancel</button>
        <span class = "psw">Forgot <a href = "#">password?</a></span>
      </div>
    </form>
  </div>

  <!-- The Main Content section -->
  <section id = "MainContent">

    <div id = "descriptionText">

      <div id = "collapseDescription">
        <input id = "toggle" class = "test collapseInfo" type = "checkbox">
        <label id = "descriptionTitle" class = "collapseLabel" for = "toggle">What Our App Does!</label>

        <div class = "expand">
          <p>Think Tinder but for finding restaurants! Simply input the town/city in which
              you wish to find a restaurant and the radial distance you want to search within.
              Then we will find a selection of restaurants in that area for you to look
              through! Create an account with us and you can save the restaurant to find
              later in the "My Restaurants" section!
          </p>
        </div>
      </div>

      <div id = "fullDescription">
        <h2 class = "paraTitle">What our app does!</h2>

        <p>Think Tinder but for finding restaurants! Simply input the town/city in which
            you wish to find a restaurant and the radial distance you want to search within.
            Then we will find a selection of restaurants in that area for you to look
            through! Create an account with us and you can save the restaurant to find
            later in the "My Restaurants" section!
        </p>
      </div>

      <h3 class = "paraTitle">Enter the location you wish to seach in!</h3>

    </div>

    <form id = "searchForm">
      <input type = "text" id = "location" class = "searchBox" placeholder = "Location">
      <input type = "text" id = "distance" class = "searchBox" placeholder = "Distance(Miles)">
      <input type = "submit" id = "search" value = "Go!" >
    </form>

    <div id = "activeCard" class = "card">
      <h2 class = "paraTitle">Restaurant Name</h2>
      <div class = "imageContainer">
        <img src = "images/foodImage3.jpeg" class = "cardImage">
        <img src = "images/foodImage4.jpeg" class = "cardImage">
        <img src = "images/foodImage5.jpeg" class = "cardImage">

        <button id = "leftButton" class = "btn" onclick = "plusDivs(-1)">&#10094;</button>
        <button id = "rightButton" class = "btn" onclick = "plusDivs(1)">&#10095;</button>
      </div>
      <p>Example Text
      </p>

      <input id = "seeMore" class = "collapseInfo" type = "checkbox">
      <label class = "collapseLabel" for = "seeMore">See more...</label>

      <div class = "expand">
        <p>In here we will incude extra information that we can obtain
          from the API. This may include Google maps to show the location
          and reviews.
        </p>
      </div>

      <form id = "scrollForm">
        <button id = "dislikeButton" class = "button" type = "button"></button>
        <button id = "likeButton" class = "button" type = "button"></button>
      </form>
  </div>
  </section>

  <!-- The Page Footer area -->
  <footer id = "PageFooter">
    <% include ../partials/footer %>
  </footer>

</body>
</html>
