<!DOCTYPE html>
<html lang = "en">

<head>
  <!-- Gets the head file -->
  <% include ../partials/head %>

  <!-- Gets page specific files -->
  <script src = "scripts/homeScript.js"></script>
</head>

<body>

  <!-- Gets the header file -->
  <% include ../partials/header.ejs %>

  <!-- Login section which stays hidden till in use -->
  <% include ../partials/login.ejs %>

  <!-- Signup section which stays hidden till in use -->
  <% include ../partials/signup.ejs %>

  <!-- The Main Content section -->
  <section id = "MainContent">

    <!-- Side tab for displaying the currently signed in user -->
    <div id = "userInfo">
      <a href = "#">Signed in as: <p id = "username"><b><%= user.username %></b></p>
      <p id = "arrow"><</p></a>
    </div>

    <!-- Collapseable version of the descriptive text -->
    <div id = "descriptionText">

      <div id = "collapseDescription">
        <input id = "toggle" class = "test collapseInfo" type = "checkbox">
        <label id = "descriptionTitle" class = "collapseLabel" for = "toggle">What Our App Does!</label>

        <div class = "expand">
          <p>Think Tinder but for finding restaurants! Simply input the town/city in which
              you wish to find a restaurant and the radial distance you want to search within.
              Then we will find a selection of restaurants in that area for you to look
              through! Create an account with us and you can save the restaurant to find
              later in the "My Restaurants" section!
          </p>
        </div>
      </div>

      <!-- The large screen version of the descriptive text -->
      <div id = "fullDescription">
        <h2 class = "paraTitle">What our app does!</h2>

        <p id = "fullDescriptionText">Think Tinder but for finding restaurants! Simply input the town/city in which
            you wish to find a restaurant and the radial distance you want to search within.
            Then we will find a selection of restaurants in that area for you to look
            through! Create an account with us and you can save the restaurant to find
            later in the "My Restaurants" section!
        </p>
      </div>

      <h2 class = "paraTitle">Enter the location you wish to seach in!</h2>

    </div>

    <!-- The location search form -->
    <form id = "searchForm">
      <input type = "text" id = "location" class = "searchBox" size = "50" placeholder = "Location(e.g. 'Edinburgh, Scotland')" name = "location">
      <input type = "text" id = "distance" class = "searchBox" maxlength = "2" placeholder = "Distance(Miles)" name = "distance">
      <button type = "submit" id = "search">Go!</button>
    </form>

    <!-- Loader to display when results are being searched -->
    <div id = "cardLoader"></div>

    <!-- Descriptive card displayed, changes if the user is signed in or not -->
    <div id = "activeCard" class = "card placeCard">
      <% if (logged === 'Login or Signup') { %>

        <h2 class = "paraTitle">Welcome to Blendr!</h2>
        <img src = "images/logo.png" id = "placeImage" alt = "Site Logo Image"/>
        <h2 class = "paraTitle">Getting Started!</h2>
        <p>While not signed in you are free to browse restaurants! But to save
          the restaurants you like the look of make sure to sign in! Not signed up
          yet? It's free and only takes 30 seconds! You can do so <a href = "#" onclick = "displaySignup()">here.</a>
        </p>

      <% } else { %>

        <h2 class = "paraTitle">Welcome <%= user.username %>!</h2>
        <img src = "images/logo.png" id = "placeImage" alt = "Site Logo Image"/>
        <h2 class = "paraTitle">Get Browsing!</h2>
        <p>Thanks for signing up! While signed in you can access all your
          previously saved restaurants in your "My Restaurants" section. We
          hope you enjoy the app!
        </p>

      <% } %>
    </div>
  </section>

  <!-- The Page Footer area -->
  <footer id = "PageFooter">
    <% include ../partials/footer %>
  </footer>

  <!-- Import the google maps api -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBPO_ZRe5JJellJY06o4c2yrGL55loC0w&libraries=places&callback=initialize" async defer></script>
</body>
</html>
