/* ------------------Desktop-------------------- */
@media only screen and (min-width:1200px) {
  .textContainer {
    /* width: 70% */
    width: 500px;
    padding-left: 12px;
    /* float: right */
  }

  .savedRestaurant {
    width: 70%;
  }

  .sideImgContainer {
    width: 200px;
    height: 200px;
  }

  #heading {
    font-size: 40px;
  }

  #myResPlaceImage {
    width: 25%;
  }

  .myResPlaceText {
    width: 70%;
  }
}

/* ------------------Screens < 1200px-------------------- */
@media only screen and (max-width:1200px) {
  .textContainer {
    /* width: 100% */
    width: 400px;
    padding-left: 12px;
  }

  .savedRestaurant {
    width: 70%;
  }

  .sideImgContainer {
    width: 200px;
    height: 200px;
  }

  #heading {
    font-size: 40px;
  }

  #myResPlaceImage {
    width: 25%;
  }

  .myResPlaceText {
    width: 70%;
  }
}

/* ------------------Code applies to screens < 1000px */
@media only screen and (max-width: 1000px) {
  .textContainer {
    /* width: 100% */
    width: 100%;
    padding-left: 0;
  }

  .sideImgContainer {
    margin-bottom: 12px;
  }

  #myResPlaceImage {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .myResPlaceText {
    width: 70%;
  }
}

/* ------------------Screens < 700px-------------------- */
@media only screen and (max-width:700px) {
  #MainContent {
    padding-top: 80px
  }

  #heading {
    font-size: 30px;
  }

  #myResPlaceImage {
    width: 50%;
  }

  .myResPlaceText {
    width: 80%;
  }

  #myResPlaceTitle {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ------------------Screens < 500px-------------------- */
@media only screen and (max-width:500px) {
  .savedRestaurant {
    width: 80%;
  }

  .sideImgContainer {
    width: 180px;
    height: 180px;
  }

  .cardTitle {
    max-width: 200px;
  }

  .myResPlaceText {
    width: 95%;
  }
}

#pageTitle {
  text-align: center;
}

.savedRestaurant {
  background-color: white;
  /*width: 70%;*/
  min-height: 200px;
  margin: auto;
  margin-top: 40px;
  padding: 12px;
  border-radius: 6px;
  overflow: auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideImgContainer {
  display: inline-block;
  float: left;
  border: 2px solid grey;
}

.sideImg {
  width: 100%;
  height: 100%;
}

.textContainer {
  display: inline-block;
  /* no padding */
}

#myResPlaceImage {
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
}

.myResPlaceText {
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding: 0;
  clear: left;
}

.optionButton {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.optionButton:hover {
  background-color: RoyalBlue;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  width: 50px;
  text-align: center;
  border: none;
  outline: none;
  background-color: #080808;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topButton:hover {
  background-color: white;
  color: #080808;
  transition: 0.3s;
}
