/*------------------Desktops and laptops----------------*/
@media only screen and (min-width: 1000px) {
  #login {
    float: right;
  }

  .card {
    width: 40%;
  }

  .nav-tabs {
    padding: 12px;
  }

  #distance {
    float: right;
  }

  .searchBox {
    width: 40%;
  }

  #search {
    width: 20%;
  }

  #userInfo a {
      left: -210px;
      width: 220px;
      font-size: 18px;
      top: 200px;
  }

  .cardImage {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    min-height: 300px;
  }

  .imageContainer {
      min-width: 100%;
      max-width: 100%;
      min-height: 300px;
      max-height: 300px;
  }

  #leftButton {
    transform: translate(10%, -400%);
    -ms-transform: translate(0, -400%);
  }

  #rightButton {
    float: right;
    transform: translate(-10%, -400%);
    -ms-transform: translate(0, -400%);
  }

}

/* ------------------Code applies to screens < 1000px */
@media only screen and (max-width: 1000px) {

  .nav-tabs {
    padding: 12px;
  }

  #distance {
    /*display: block;*/
    margin-top: 12px;
  }

  .searchBox {
    width: 100%;
    display: block;
  }

  #search {
    width: 20%;
  }

  #userInfo a {
      left: -210px;
      width: 220px;
      font-size: 18px;
      top: 200px;
  }

  .card {
    width: 45%;
  }

  .cardImage {
    max-height: 300px;
    min-height: 300px;
  }

  .imageContainer {
      min-width: 100%;
      max-width: 100%;
      min-height: 300px;
      max-height: 300px;
  }

  #leftButton {
    transform: translate(10%, -400%);
    -ms-transform: translate(0, -400%);
  }

  #rightButton {
    float: right;
    transform: translate(-10%, -400%);
    -ms-transform: translate(0, -400%);
  }
}

/*Screen size must be at least 700px for this code to be applied*/
@media only screen and (min-width:700px) {
  #login {
    float: right;
  }

  #PageHeader {
    background: url(../images/foodImage9.jpg) no-repeat;
    background-size: 100%;
    height: 448px;
    margin-bottom: 0;
  }

  #headerImage {
    display: block;
    width: 500px;
    height: auto;
    margin: auto;
  }

  #collapseDescription {
    display: none;
  }

  #contact {
    width: 40%;
    float: left;
    margin-right: 20%;
  }

  #about {
    width: 40%;
    float: left;
  }
}

/* ------------------Css for the Collapsed Navigation Bar------------------- */
@media only screen and (max-width:700px) {
    ul.nav-tabs li:not(:first-child) {
        display: none;
    }

    ul.nav-tabs li.icon {
        float: right;
        display: inline-block;
    }

    ul.nav-tabs.responsive {
        position: relative;
        padding-bottom: 0;
    }

    ul.nav-tabs.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    ul.nav-tabs.responsive li {
        float: none;
        display: inline;
    }

    ul.nav-tabs.responsive li a {
        display: block;
        text-align: left;
    }

    ul.nav-tabs li a {
        font-size: 20px;
    }

    .nav-tabs.responsive {
      padding-top: 0;
    }

    #userInfo a{
        left: -176px;
        width: 180px;
        font-size: 16px;
        top: 90px;
    }

    #headerImage {
      display: none;
    }

    #descriptionText {
      padding-top: 35px;
    }

    #fullDescription {
      display: none;
    }

    #search {
      width: 100%;
    }

    .card {
      width: 60%;
    }

    .cardImage {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      max-height: 200px;
      min-height: 200px;
    }

    .imageContainer {
        min-width: 100%;
        max-width: 100%;
        min-height: 200px;
        max-height: 200px;
    }

    #leftButton {
      transform: translate(10%, -300%);
      -ms-transform: translate(0, -300%);
    }

    #rightButton {
      float: right;
      transform: translate(-10%, -300%);
      -ms-transform: translate(0, -300%);
    }
}

/*------------------Smartphones-------------------*/
@media only screen and (max-width: 500px) {
  .card {
    width: 85%;
  }

  #userInfo a{
      left: -175px;
      width: 170px;
      font-size: 14px;
      top: 90px;
  }
}

/* ------------------All Devices------------------- */
body {
  margin: auto;
  font-family: Calibri, Verdana, Geneva, sans-serif;
}

#nav {
  margin: auto;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 100px;
  padding: 0;
  transition: width, 1.0s;
  transition-timing-function: ease-in-out;
  overflow: visible;
}

#nav a:hover {
  background-color: #ddd;
  color: black;
}

#nav a.active {
  background-color: #B83214;
  color: white;
}

.nav-tabs {
  border-radius: 6px;
  /*background-color: #559E54;*/
  background-color: #333;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-tabs li {
  float: left;
}

.nav-tabs li a {
  text-align: center;
  padding-right: 14px;
  text-decoration: none;
  transition: 0.3s;
  padding: 16px 14px;
  font-size: 20px;
  color: white;
}

.icon {
  display: none;
}

.sticky {
  margin-top: 48px;
}

#MainContent {
  /*background-color: #b3ffb3;*/
  background-color: #D4F7D4;
  padding-top: 20px;
  padding-bottom: 30px;
}

#userInfo a{
    position: absolute;
    /*left: -80px;*/
    transition: 0.3s;
    padding: 15px;
    /*width: 100px;*/
    text-decoration: none;
    /*font-size: 20px;*/
    color: black;
    border-radius: 0 5px 5px 0;
    /*top: 200px;*/
    background-color: white;
}

#userInfo a:hover {
    left: 0;
}

#arrow {
  float: right;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

#username {
  display: inline;
}

.collapseInfo {
  display: none;
  visibility: hidden;
}

.collapseLabel {
  font-weight: bold;
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #FD3A0F;
}

.collapseLabel:hover {
  color: #666;
  cursor: pointer;
}

.collapseLabel::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

.expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ .expand {
  height: 130px;
}

#toggle:checked ~ .collapseLabel::before {
  content: "-";
}

#descriptionText {
  margin: auto;
  width: 90%;
  text-align: center;
}

#descriptionTitle {
  font-size: 22px;
}

.paraTitle {
  color: #FD3A0F;
  margin: 0;
  margin-bottom: 12px;
}

.text {
  background-color: red;
}

#searchForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.searchBox {
  border: 1px solid transparent;
  background-color: white;
  font-size: 16px;
  padding: 14px;
  border-radius: 6px;
  margin-left:auto;
  margin-right: auto;
  box-sizing: border-box;
}

#search {
  background-color: cornflowerblue;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  display: block;
}

#search:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

#placeImage {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: white;
  border-radius: 6px;
  margin: auto;
  margin-top: 40px;
  padding: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardImage {
  width: 100%;
}

.imageContainer {
    position: relative;
    width: 100%;
    border: 2px solid black;
    background-color: black;
}

.imageContainer .btn {
  position: relative;
  background-color: #181818;
  color: white;
  font-size: 16px;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.imageContainer .btn:hover {
    background-color: #555;
    transition: 0.3s;
}

.fa-star {
    font-size: 20px;
    margin-top: 12px;
}

.starChecked {
    color: orange;
}

.starText {
    font-size: 20px;
    margin-top: 12px;
    margin-right: 16px;
}

.fa .fa-dollar {
  font-size: 20px;
}

.dollarOn {
  color: cornflowerblue;
}

.dollarOff {
  color: lightBlue;
}

.cardText {
  margin: 0;
  padding-top: 4px;
}

#rating {
  padding-top: 8px;
}

#cost {
  display: inline-block;
  padding-right: 8px;
}

#seeMore:checked ~ .expand {
  height: 500px;
}

#seeMore:checked ~ .collapseLabel::before {
  content: "-";
}

#map {
  width: 100%;
  height: 300px;
}

#dislikeButton {
  /*background-color: #ff3333;*/
  background: url(../images/crossIcon.png) no-repeat;
  background-size: 110px;
  background-position: center;
}

#likeButton {
  float: right;
  /*background-color: #4CAF50;*/
  background: url(../images/tickIcon.png) no-repeat;
  background-size: 115px;
  background-position: center;
}

.button {
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#PageFooter {
  background-color: #333;
  min-height: 200px;
  padding: 12px;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mediaIcons {
  clear: left;
  padding-top: 24px;
}

/* ------------------ Social Media Icon Css------------------- */

#mediaIcons .fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 4px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* ------------------Login Pop Up Css------------------- */

/* Full-width input fields */
.loginInput[type=text], .loginInput[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.loginButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginButton:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelBtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.loginImgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

#loginAvatar {
    width: 40%;
    border-radius: 50%;
}

.loginContainer {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
}

/*Modal content box width for larger screens*/
@media only screen and (min-width:700px) {
  .modal-content {
    width: 50%;
  }
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


/* ------------------ Css for Signup form -------------------*/

/* Full-width input fields */
.signupInput[type=text], .signupInput[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
}

/* Add a background color when the inputs get focus */
.signupInput[type=text]:focus, .signupInput[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
.signupButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.signupButton:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.signupCancelBtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.signupCancelBtn, .signupButton {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.signupContainer {
    padding: 16px;
}

/* The Modal (background) */
.signupModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.signupModal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
#signupHr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
.signupClose {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.signupClose:hover,
.signupClose:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.signupClearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Fits modal-content for smaller screens */
@media screen and (max-width: 700px) {
  .signupModal-content {
    width: 95%;
  }
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupCancelBtn, .signupButton {
       width: 100%;
    }
}

/* ------------------Css for the loader ------------------*/

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
