<meta charset = "utf-8" name = "viewport" content = "width=device-width, initial-scale=1">
<!-- Place site logo here -->
<link rel="icon" href="images/logoIcon.png" type="image/gif" sizes="16x16">
<title>Blendr</title>

<!-- Social media icon import -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src = "scripts/script.js"></script>

<link rel = "stylesheet" type = "text/css" href = "style/style.css">
