<!-- Page Header -->
<header id = "PageHeader">
  <img src = "images/logo.png" id = "headerImage" alt = "Site Logo Image"/>
  <nav id = "nav">
    <ul class = "nav-tabs" id = "collapseNav">
      <li><a id = "indexTab" class = "active" href="/?username=<%= user.username %>">Home</a></li>
      <li><a id = "myrestaurantsTab" class = "tabs" href = "/myrestaurants?username=<%= user.username %>">My Restaurants</a></li>
      <li><a class = "tabs" href = "/logout" >Logout</a></li>
      <li id = "login" onclick = "displayLogin()">
        <a class = "tabs" href = "#">Login or Signup</a></li>
      <li class = "icon">
        <a href = "javascript:void(0);" style = "font-size: 17px;" onclick = "navCollapse()">☰</a>
      </li>
    </ul>
  </nav>
</header>
