<div id = "signupForm" class = "signupModal">

  <form class = "modal-content animate" action = "#"> <!-- Server response after action -->
    <div class = "loginImgContainer">
      <span onclick = "signupDisplayNone()" class = "close" title = "Close Modal">&times;</span>
    </div>

    <form class = "signupModal-content" action="/adduser" method="POST">
      <div class = "signupContainer">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
        <hr id = "signupHr">
        <label for = "uname"><b>Username</b></label>
        <input class = "signupInput" type = "text" placeholder = "Enter Username" name = "uname" required>

        <label for = "psw"><b>Password</b></label>
        <input id = "password" class = "signupInput" type = "password" onchange="checkPasswordMatch()"
        placeholder = "Enter Password" name = "psw" required>

        <label for = "psw-repeat"><b>Repeat Password</b></label>
        <input id = "repeatPassword" class = "signupInput" type = "password" onchange="checkPasswordMatch()"
        placeholder = "Repeat Password" name = "psw-repeat" required>

        <div id = "checkPasswordMatch">
          <p>Password Status: </p>
        </div>

        <label>
          <input type = "checkbox" checked = "checked" name = "remember" style = "margin-bottom:15px"> Remember me
        </label>

        <p>By creating an account you agree to our <a href = "#" style = "color:dodgerblue">Terms & Privacy</a>.</p>

        <div class = "signupClearfix">
          <button class = "signupButton signupCancelBtn" type = "button" onclick = "signupDisplayNone()">Cancel</button>
          <button id = "confirmSignup" class = "signupButton" onclick = "createUser()">Sign Up</button>
        </div>
      </div>
    </form>
  </form>
</div>
